html, body, h1, h2, h3, p, ol, ul, li, a {
    padding: 0px;
    border: 0px;
    margin: 0px;
    font-size: 100%;
    font: inherit;
}

body {
    background-color: #f89f63;
    font-family: cursive, sans-serif;  
}

h3 {
    color: #000000;
    text-align: center;
    font-size: 150%;
    font-family: cursive, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    color: #000000;
    margin: 0 0 10px 0;
    text-align: center;
    font-size: 400%;
    font-family: cursive, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header p {
    color: #000000;
    margin: 0 0 10px 0;
    text-align: center;
    font-size: 35%;
    font-family: cursive, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-content {
    margin-left: 20px;
    line-height: 26px;
}

.footer p {
    color: #000000;
    text-align: center;
    font-size: 18px;
    font-style: italic;
    text-transform: uppercase;
}